.form {
    width: 250px;
    padding: 40px 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    box-shadow: 0px 1px 10px 1px rgba(34, 60, 80, 0.19);
    &__title {
        margin-bottom: 10px;
        font-size: 32px;
    }
    &__submit {
        background-color: #035afc;
        padding: 10px 20px;
        border: none;
        outline: none;
        color: #fff;
        width: 100%;
        cursor: pointer;
        transition: all 0.1s ease;
        &:hover {
            background-color: darken(#035afc, 5%);
        }
    }
    &__error {
        color: #FF5631;
    }
}